body {
	font: Helvetica, Arial; position: relative;
}

a,
a:VISITED {
	text-decoration: none;
	color: #c52b33;
}
a:HOVER {
	color: #771419;
}
img {
	border: 0;
}
#wrap {  
	width: 800px; margin: 55px auto 0 auto; height: 100%; 
}
#core {
	padding: 20px;
	background-color: #f3f3f3;
	border-style: solid;
	border-width: 2px;
	border-color: #e3e3e3;
	position: relative;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
#container {
	margin-top: 20px;
	margin-bottom: 20px;
}
#primarynav {
	position: absolute;
	top: 20px;
	right: 20px;
}
#primarynav ul {
	list-style: none;
}
#login_page_form ul {
	list-style: none;
}
#footer {
	
	padding-top: 10px;
	
	border-top-color: #e3e3e3;
	border-top-width: 1px;
	border-top-style: solid;
	font-size: 0.9em;
	text-align: center;
	width: 95%;
	
}
p.error {
	font-style: italic;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 14px;	
}
label {
	display: block; 
}
#form_file_upload_loading {
	width: 95%;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	display: none;
}
.logininput {
	display: inline-block;
	width: 350px;
}
INPUT[TYPE=TEXT],
INPUT[TYPE=PASSWORD],
input[type=file]
 {
	color: #becfb0;
	background-color: #FFF;
	font-size: 24px;
	padding: 6px 4px 4px 4px;
	-webkit-box-shadow: inset 0px 3px 0px 0px #bbc4ca, inset 0px 0px 0px 1px
		#fafbfc, 0px 0px 0px 1px #d7dee3;
	-moz-box-shadow: inset 0px 3px 0px 0px #bbc4ca, inset 0px 0px 0px 1px
		#fafbfc, 0px 0px 0px 1px #d7dee3;
	-o-box-shadow: inset 0px 3px 0px 0px #bbc4ca, inset 0px 0px 0px 1px
		#fafbfc, 0px 0px 0px 1px #d7dee3;
	-ms-box-shadow: inset 0px 3px 0px 0px #bbc4ca, inset 0px 0px 0px 1px
		#fafbfc, 0px 0px 0px 1px #d7dee3;
	box-shadow: inset 0px 3px 0px 0px #bbc4ca, inset 0px 0px 0px 1px #fafbfc,
		0px 0px 0px 1px #d7dee3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.logininput INPUT {
	width: 320px;
}

.buttonmail {
	background-color: #93c950;
	padding: 10px;
	width: 100px;
	font-size: 24px;
	color: #FFF;
	text-shadow: 0px 1px 0px #739a45;
	filter: dropshadow(color = #739a45, offx = 0, offy = 1);
	text-align: center;
	margin-top: 9px;
	margin-right: 9px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*iframe*/
#upload_frame {
	border:0px;
	height:40px;
	width:400px;
	display:none;
}

#progress_container {
	width: 300px; 
	height: 30px; 
	border: 1px solid #CCCCCC; 
	background-color:#EBEBEB;
	display: block; 
	margin:5px 0px -15px 0px;
}

#progress_bar {
	position: relative; 
	height: 30px; 
	background-color: #F3631C; 
	width: 0%; 
	z-index:10; 
}

#progress_completed {
	font-size:16px; 
	z-index:40; 
	line-height:30px; 
	padding-left:4px; 
	color:#FFFFFF;
}